.profile {
    width: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 250ms;
}

.profile:hover {
    transform: scale(1.05);
}

.description {
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E4E9F0;
}

.avatar {
    display: block;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #E4E9F0;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 250ms;
}

.avatar:hover {
    transform: scale(1.2);
}

.name {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 700;
    font-family: 14px;
}

.tag {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: #94A0AC;
    font-size: 14px;
}

.location {
    margin: 0;
    padding: 0;
    color: #94A0AC;
}



.stats {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F3F6F9;
    border-radius: 0 0 8px 8px;
}

.stats>*:not(:last-child) {
    border-right: 1px solid #E4E9F0;
}

.stats>* {
    padding: 15px 0;
    width: calc(100%/3);
    text-align: center;
}


.label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    color: #94A0AC;
}

.quantity {
    display: block;
    font-weight: 700;
}