.item {
    display: flex;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 8px;
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 250ms;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item:last-child {
    margin-bottom: 0;
}

.item:hover {
    transform: scale(1.05);
}

.status {
    display: block;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.status::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.status--offline::before {
    background-color: #F05C5A;
}

.status--online::before {
    background-color: #6BA960;
}


.avatar {
    margin-right: 70px;
    background-color: #E4E9F0;
    border-radius: 4px;
}

.name {
    font-weight: 700;
}